{ :twitter {
  :api-key             "3C9NGNYSNrWrvsoBRaHqtOLrh"
  :consumer-secret     "C7KkyMtYTNVlMwaMS7sQRyd6iIXRoAuPgkF6d0IJlHC4eR5Keh"
  :access-token        "16369960-HwBhnk8A1GwMykQf60QJy6Hce6e7h949kIUCRLuMR"
  :access-token-secret "epoJMXgB1Gvtxj5YJWh7nKUKiPeOohFVK8dnyM8irtlQX"
}}
